body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  height: 1500px;
}
.redBox {
  background-color: #ff7879;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.blueBox {
  background-color: #7ed6df;
  display: inline-block;
  height: 100%;
  width: 65%;
  vertical-align: top;
}

h5 {
  color: white;
  padding-top: 50px;
  margin-left: 50px;
  font-weight: 900;
}

.yellowBox {
  background-color: #ffcc02;
  width: 25%;
  border: 5px solid grey;
  display: inline-block;
  height: 100%;
  position: relative;
}

.greenBox {
  background-color: #bbdc58;
  width: 150px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -70px;
  z-index: 2;